@use 'sass:color';
@use 'variables' as *;

:root{
  --color-text-light-highlight: #f0f0e0;
  --color-text-light-heading: #c9c7b8;
  --color-text-light-primary: #b5b3a4;
  --color-text-dark-primary: #191813;
  --color-text-dark-secondary: #4b4a44;
  --color-text-dark-header: #23221d;
  --color-text-dark-inactive: #7a7971;
  --color-text-hyperlink: #64ff00;
  --color-text-light-0: #fff;
  --color-text-light-1: #eee;
  --color-text-light-2: #ddd;
  --color-text-light-3: #ccc;
  --color-text-light-4: #bbb;
  --color-text-light-5: #aaa;
  --color-text-light-6: #999;
  --color-text-light-7: #707070;
  --color-text-dark-1: #111;
  --color-text-dark-2: #222;
  --color-text-dark-3: #444;
  --color-text-dark-4: #555;
  --color-text-dark-5: #666;
  --color-text-dark-6: #777;
  --color-border-light-1: #ddd;
  --color-border-light-2: #999;
  --color-border-dark-1: #111;
  --color-border-dark-2: #222;
  --color-border-dark-3: #333;
  --color-border-dark-4: #444;
  --color-border-dark-5: #666;
  --color-shadow-primary: #006600;
  /* --color-shadow-highlight: #ff6400; */
  --color-shadow-dark: #000;
  --color-underline-inactive: #7a7971;
  --color-underline-active: #44191A;
  --color-underline-header: #782e22;
  --color-border-light-highlight: #f0f0e0;
  --color-border-light-primary: #b5b3a4;
  --color-border-light-secondary: #c9c7b8;
  --color-border-light-tertiary: #7a7971;
  --color-border-dark: #000;
  --color-border-dark-primary: #191813;
  --color-border-dark-secondary: #23221d;
  --color-border-dark-tertiary: #4b4a44;
  --color-border-highlight: #64ff00;
  --color-border-highlight-alt: #00ff00;
  --color-bg-btn-minor-inactive: #c9c7b8;
  --color-bg-btn-minor-active: #b5b3a4;
  --color-bg-option: #dad8cc;
  --color-bg: #1a1a1a;
  --color-bg-transparent: #{rgba(#0a0a0a, 0.7)};
  --color-graphic-bg-transparent: #{rgba(#444, 0.3)};
  --color-field-bg: #{rgba(#1e1e1e, 0.9)};
  --color-field-bg-focus: #{rgba(#262626, 0.9)};
  --color-field-border: #{rgba(#2f2f2f, 0.4)};
  --color-field-corners:#b6b3b3;
  --color-checkbox-checked: #666;
  --color-ownership-none: #5500ff;
  --color-ownership-observer: #7a7971;
  --color-ownership-owner: #b5b3a4;
  --z-index-canvas: 0;
  --z-index-app: 30;
  --z-index-ui: 60;
  --z-index-window: 100;
  --z-index-tooltip: 9999;
  --sidebar-width: 300px;
  --sidebar-header-height: 32px;
  --sidebar-item-height: 48px;
  --hotbar-height: 52px;
  --hotbar-width: 578px;
  --box-spacing: #{$box-spacing-value};
  --macro-size: 50px;
  --players-width: 200px;
  --form-field-height: 26px;
  --font-primary: 'Share Tech Mono', sans-serif;
  --font-small: 'Aldrich', sans-serif;
  --font-title: 'Share Tech Mono', sans-serif;
  --font-mono: monospace;
  --font-awesome: "Font Awesome 6 Pro";
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-48: 3rem;
  --line-height-12: 0.75rem;
  --line-height-16: 1rem;
  --line-height-20: 1.25rem;
  --line-height-30: 1.875rem;
  --color-level-info-inactive: #{rgba(#5c87b9, 0.9)};
  --color-level-info-active: #{rgba(#5c87b9, 0.7)};
  --color-level-info: #5c87b9;
  --color-level-warning: #b18404;
  --color-level-error: #750003;
  --color-level-success: #266c3c;
  --color-level-1: #FF0000;
  --color-level-2: #FF4D00;
  --color-level-3: #FF7E06;
  --color-level-4: #FFAA06;
  --color-level-5: #FFD704;
  --color-level-6: #FAFF04;
  --color-level-7: #DBFF00;
  --color-level-8: #ADFF00;
  --color-level-9: #61FF00;
  --color-level-10: #00FF47;
  --color-level-1-light: #{rgba(#FF0000, 0.3)};
  --color-level-2-light: #{rgba(#FF4D00, 0.3)};
  --color-level-3-light: #{rgba(#FF7E06, 0.3)};
  --color-level-4-light: #{rgba(#FFAA06, 0.3)};
  --color-level-5-light: #{rgba(#FFD704, 0.3)};
  --color-level-6-light: #{rgba(#FAFF04, 0.3)};
  --color-level-7-light: #{rgba(#DBFF00, 0.3)};
  --color-level-8-light: #{rgba(#ADFF00, 0.3)};
  --color-level-9-light: #{rgba(#61FF00, 0.3)};
  --color-level-10-light:#{rgba( #00FF47, 0.3)};
  --color-level-1-highlight: #{rgba(#FF0000, 0.1)};
  --color-level-2-highlight: #{rgba(#FF4D00, 0.1)};
  --color-level-3-highlight: #{rgba(#FF7E06, 0.1)};
  --color-level-4-highlight: #{rgba(#FFAA06, 0.1)};
  --color-level-5-highlight: #{rgba(#FFD704, 0.1)};
  --color-level-6-highlight: #{rgba(#FAFF04, 0.1)};
  --color-level-7-highlight: #{rgba(#DBFF00, 0.1)};
  --color-level-8-highlight: #{rgba(#ADFF00, 0.1)};
  --color-level-9-highlight: #{rgba(#61FF00, 0.1)};
  --color-level-10-highlight:#{rgba( #00FF47, 0.1)};
  --color-level-1-transparent: #{rgba(#FF0000, 0.03)};
  --color-level-2-transparent: #{rgba(#FF4D00, 0.03)};
  --color-level-3-transparent: #{rgba(#FF7E06, 0.03)};
  --color-level-4-transparent: #{rgba(#FFAA06, 0.03)};
  --color-level-5-transparent: #{rgba(#FFD704, 0.03)};
  --color-level-6-transparent: #{rgba(#FAFF04, 0.03)};
  --color-level-7-transparent: #{rgba(#DBFF00, 0.03)};
  --color-level-8-transparent: #{rgba(#ADFF00, 0.03)};
  --color-level-9-transparent: #{rgba(#61FF00, 0.03)};
  --color-level-10-transparent:#{rgba( #00FF47, 0.03)};
}