@use 'variables' as *;

input[type='text'],
input[type='number'],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="search"],
select,
textarea {
  @extend %input;
}

select {
  option {
    background-color: $color-bg;
    &:selected {
      background-color: $color-level-success;
    }
  }
}

.prosemirror {
  overflow: visible;
  font-family: $font-small;
  menu {
    button{
      @extend %inverted-color;
    }

    .pm-dropdown {
      @extend %input;
      padding-left: 0.5em;
      background-color: $color-bg-transparent;

      ul {
        @extend %background;
        border-color: $color-field-border;
      }

      li:hover {
        background-color: $color-field-bg-focus;
      }
    }

  }
  // for some reason this is absolutely positioned in a flex element preventing it from growing
  .editor-container .editor-content {
    position: relative;
  }
}

.field-box {
  background-color: $color-field-bg;
  border: 1px solid $color-field-border;
  box-sizing: border-box;
  display: inline-block;
  // height: calc(100% - 9px);
  margin: $box-spacing;
  padding: ($box-spacing-value * 2);
  position: relative;
  transition: background-color .6s ease-out;
  width: calc(100% - #{($box-spacing-value * 2)}); // adjust for margin
  z-index: 0;

  &:hover,
  &:focus-within {
    background-color: $color-field-bg-focus;
  }

  &::after {
    @extend %cornered;
    border-left: 0;
    border-top: 0;
    bottom: -1px;
    right: -1px;
  }

  &::before {
    @extend %cornered;
    border-bottom: 0;
    border-right: 0;
    left: -1px;
    top: -1px;
  }

  &--inner {
    display: block;
    height: 100%;

    label > small {
      font-family: $font-small;
      display: block;
      color: $color-text-light-7;
    }

    &::before {
      @extend %cornered;
      border-bottom: 0;
      border-left: 0;
      right: -1px;
      top: -1px;
    }

    &::after {
      @extend %cornered;
      border-right: 0;
      border-top: 0;
      bottom: -1px;
      left: -1px;
    }
  }
}