@use 'variables' as *;

%field {
  padding: 0.2rem;
}

%background {
  background-color: $color-bg-transparent;
  background-image: none;
  backdrop-filter: blur(2rem);
}

%inverted-color {
  color: $color-text-light-7;
}

%input {
  color: $color-text-light-0;
  font-weight: 600;
  border: 0;
  background: none;
  padding-left: 0;

  &:focus {
    box-shadow: none;
  }
}

%cornered {
  border: 1px solid $color-field-corners;
  content: '';
  display: block;
  filter: blur(0.7px);
  height: $box-spacing-value * 2;
  position: absolute;
  width: $box-spacing-value * 2;
  z-index: 0;
}

%custom-scrollbars {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: $color-border-dark-4 $color-bg;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $color-bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-border-dark-4;
    border-radius: 0;
    border: 1px inset $color-bg;
  }
}