@use "sass:list";
// color vars set dynamic props for scss shorthand
$color-text-light-highlight: var(--color-text-light-highlight);
$color-text-light-heading: var(--color-text-light-heading);
$color-text-light-primary: var(--color-text-light-primary);
$color-text-dark-primary: var(--color-text-dark-primary);
$color-text-dark-secondary: var(--color-text-dark-secondary);
$color-text-dark-header: var(--color-text-dark-header);
$color-text-dark-inactive: var(--color-text-dark-inactive);
$color-text-hyperlink: var(--color-text-hyperlink);
$color-text-light-0: var(--color-text-light-0);
$color-text-light-1: var(--color-text-light-1);
$color-text-light-2: var(--color-text-light-2);
$color-text-light-3: var(--color-text-light-3);
$color-text-light-4: var(--color-text-light-4);
$color-text-light-5: var(--color-text-light-5);
$color-text-light-6: var(--color-text-light-6);
$color-text-light-7: var(--color-text-light-7);
$color-text-dark-1: var(--color-text-dark-1);
$color-text-dark-2: var(--color-text-dark-2);
$color-text-dark-3: var(--color-text-dark-3);
$color-text-dark-4: var(--color-text-dark-4);
$color-text-dark-5: var(--color-text-dark-5);
$color-text-dark-6: var(--color-text-dark-6);
$color-border-light-1: var(--color-border-light-1);
$color-border-light-2: var(--color-border-light-2);
$color-border-dark-1: var(--color-border-dark-1);
$color-border-dark-2: var(--color-border-dark-2);
$color-border-dark-3: var(--color-border-dark-3);
$color-border-dark-4: var(--color-border-dark-4);
$color-border-dark-5: var(--color-border-dark-5);
$color-shadow-primary: var(--color-shadow-primary);
$color-shadow-highlight: var(--color-shadow-highlight);
$color-shadow-dark: var(--color-shadow-dark);
$color-underline-inactive: var(--color-underline-inactive);
$color-underline-active: var(--color-underline-active);
$color-underline-header: var(--color-underline-header);
$color-border-light-highlight: var(--color-border-light-highlight);
$color-border-light-primary: var(--color-border-light-primary);
$color-border-light-secondary: var(--color-border-light-secondary);
$color-border-light-tertiary: var(--color-border-light-tertiary);
$color-border-dark: var(--color-border-dark);
$color-border-dark-primary: var(--color-border-dark-primary);
$color-border-dark-secondary: var(--color-border-dark-secondary);
$color-border-dark-tertiary: var(--color-border-dark-tertiary);
$color-border-highlight: var(--color-border-highlight);
$color-border-highlight-alt: var(--color-border-highlight-alt);
$color-bg-btn-minor-inactive: var(--color-bg-btn-minor-inactive);
$color-bg-btn-minor-active: var(--color-bg-btn-minor-active);
$color-bg-option: var(--color-bg-option);
$color-bg: var(--color-bg);
$color-bg-transparent: var(--color-bg-transparent);
$color-graphic-bg-transparent: var(--color-graphic-bg-transparent);
$color-field-bg: var(--color-field-bg);
$color-field-bg-focus: var(--color-field-bg-focus);
$color-field-border: var(--color-field-border);
$color-field-corners: var(--color-field-corners);
$color-checkbox-checked: var(--color-checkbox-checked);
$color-ownership-none: var(--color-ownership-none);
$color-ownership-observer: var(--color-ownership-observer);
$color-ownership-owner: var(--color-ownership-owner);
$z-index-canvas: var(--z-index-canvas);
$z-index-app: var(--z-index-app);
$z-index-ui: var(--z-index-ui);
$z-index-window: var(--z-index-window);
$z-index-tooltip: var(--z-index-tooltip);
$sidebar-width: var(--sidebar-width);
$sidebar-header-height: var(--sidebar-header-height);
$sidebar-item-height: var(--sidebar-item-height);
$hotbar-height: var(--hotbar-height);
$hotbar-width: var(--hotbar-width);
$box-spacing: var(--box-spacing);
$box-spacing-value: 0.2rem;
$macro-size: var(--macro-size);
$players-width: var(--players-width);
$form-field-height: var(--form-field-height);
$font-primary: var(--font-primary);
$font-small: var(--font-small);
$font-title: var(--font-title);
$font-mono: var(--font-mono);
$font-awesome: var(--font-awesome);
$font-size-11: var(--font-size-11);
$font-size-12: var(--font-size-12);
$font-size-13: var(--font-size-13);
$font-size-14: var(--font-size-14);
$font-size-16: var(--font-size-16);
$font-size-18: var(--font-size-18);
$font-size-20: var(--font-size-20);
$font-size-24: var(--font-size-24);
$font-size-28: var(--font-size-28);
$font-size-32: var(--font-size-32);
$font-size-48: var(--font-size-48);
$line-height-12: var(--line-height-12);
$line-height-16: var(--line-height-16);
$line-height-20: var(--line-height-20);
$line-height-30: var(--line-height-30);
$color-level-info-inactive: var(--color-level-info-inactive);
$color-level-info-active: var(--color-level-info-active);
$color-level-info: var(--color-level-info);
$color-level-warning: var(--color-level-warning);
$color-level-error: var(--color-level-error);
$color-level-success: var(--color-level-success);
$color-level-1: var(--color-level-1);
$color-level-2: var(--color-level-2);
$color-level-3: var(--color-level-3);
$color-level-4: var(--color-level-4);
$color-level-5: var(--color-level-5);
$color-level-6: var(--color-level-6);
$color-level-7: var(--color-level-7);
$color-level-8: var(--color-level-8);
$color-level-9: var(--color-level-9);
$color-level-10: var(--color-level-10);
$color-level-1-light: var(--color-level-1-light);
$color-level-2-light: var(--color-level-2-light);
$color-level-3-light: var(--color-level-3-light);
$color-level-4-light: var(--color-level-4-light);
$color-level-5-light: var(--color-level-5-light);
$color-level-6-light: var(--color-level-6-light);
$color-level-7-light: var(--color-level-7-light);
$color-level-8-light: var(--color-level-8-light);
$color-level-9-light: var(--color-level-9-light);
$color-level-10-light: var(--color-level-10-light);
$color-level-1-transparent: var(--color-level-1-transparent);
$color-level-2-transparent: var(--color-level-2-transparent);
$color-level-3-transparent: var(--color-level-3-transparent);
$color-level-4-transparent: var(--color-level-4-transparent);
$color-level-5-transparent: var(--color-level-5-transparent);
$color-level-6-transparent: var(--color-level-6-transparent);
$color-level-7-transparent: var(--color-level-7-transparent);
$color-level-8-transparent: var(--color-level-8-transparent);
$color-level-9-transparent: var(--color-level-9-transparent);
$color-level-10-transparent: var(--color-level-10-transparent);
// lists for looping class values
$color-levels:
  $color-level-1,
  $color-level-2,
  $color-level-3,
  $color-level-4,
  $color-level-5,
  $color-level-6,
  $color-level-7,
  $color-level-8,
  $color-level-9,
  $color-level-10;
$light-color-levels:
  $color-level-1-light,
  $color-level-2-light,
  $color-level-3-light,
  $color-level-4-light,
  $color-level-5-light,
  $color-level-6-light,
  $color-level-7-light,
  $color-level-8-light,
  $color-level-9-light,
  $color-level-10-light;
$transparent-color-levels:
  $color-level-1-transparent,
  $color-level-2-transparent,
  $color-level-3-transparent,
  $color-level-4-transparent,
  $color-level-5-transparent,
  $color-level-6-transparent,
  $color-level-7-transparent,
  $color-level-8-transparent,
  $color-level-9-transparent,
  $color-level-10-transparent;