.edgerunner-sheet {
  container-type: inline-size;
  container-name: edgerunner;
}

@container edgerunner (max-width: 770px) {
  .edgerunner-sheet > .row {
    align-items: flex-end;
    flex-wrap: wrap-reverse;
  }
}

.identity-col {
  min-width: 275px;
  max-width: 780px;
  .col-1 {
    min-width: 200px;
    max-width: 360px;
  }
  .col-2 {
    min-width: 275px;
    max-width: 400px;
  }
}